<h1>Make your form here</h1>

<form action="/pirates" method="post">
  <p><input type="text" name="pirate[name]" placeholder="Pirate Name"></p>
  <p><input type="text" name="pirate[weight]" placeholder="Pirate Weight"></p>
  <p><input type="text" name="pirate[height]" placeholder="Pirate Height"></p>
  <p><input type="text" name="pirate[ships][][name]" placeholder="Pirate Ship's Name" id="ship_name_1"></p>
  <p><input type="text" name="pirate[ships][][type]" placeholder="Pirate Ship's Type" id="ship_type_1"></p>
  <p><input type="text" name="pirate[ships][][booty]" placeholder="Pirate Booty" id="ship_booty_1"></p>
  <p><input type="text" name="pirate[ships][][name]" placeholder="Pirate Ship's Name" id="ship_name_2"></p>
  <p><input type="text" name="pirate[ships][][type]" placeholder="Pirate Ship's Type" id="ship_type_2"></p>
  <p><input type="text" name="pirate[ships][][booty]" placeholder="Pirate Booty" id="ship_booty_2"></p>
  <p><input type="submit" id="Submit">
</form>
